input, select, textarea {
  background-color: transparent !important;
  color: white !important; /* keep text visible */
}

input:focus, select:focus, textarea:focus {
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}
    html, body {
  overflow-x: hidden;
  width: 100%;
}


@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(100%);
    }
}

.animate-slide-in {
    animation: slideIn 0.4s ease-out;
}

.toast-hide {
    animation: slideOut 0.4s ease-in forwards;
}